---
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import CallToAction from '../components/CallToAction.astro';
import Cursos from '../components/Cursos.astro';
---

<Layout>
	<main class="space-y-20 mb-40">
		<HeroSection/>
		<Cursos/>
        <CallToAction/>
	</main>
</Layout>